@charset "utf-8";

main ol.users {
	list-style-type: none;
	padding:0px;
	margin:0px;
}

main ol.users li {
	min-width:345px;
	width: auto;
	float:left;
	padding-right: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #aaa;
	margin-bottom: 5px;
}

main ol.users img {
	float: left;
	height: 60px;
	width: 60px;
	margin-right: 5px;
}

main ol.users p {
	clear: none;
	padding-top: 0px;
}