{extends file='../_.htm'}
{block name=title}Nutzungsbedingungen{/block}
{block name=content}
	<h3>1. Geltungsbereich</h3>
	<p>F&uuml;r die Nutzung des unter <em>drakestrin.de</em> erreichbaren Angebots &raquo;Kaiserreich Drachenstein&laquo; von Fabian M&uuml;ller (nachfolgend &raquo;Anbieter&laquo; genannt) gelten nachfolgende Bedingungen. Die Nutzung des Angebots ist nur unter Zustimmung zu diesen Nutzungsbedingungen zul&auml;ssig.</p>
	
	<h3>2. Vertrag und Nutzung</h3>
	<p>a) Voraussetzung f&uuml;r die Nutzung des Angebots ist ein durch eine vorherige Registrierung erlangtes Nutzerkonto. Mit erfolgter Registrierung kommt der unentgeltliche Nutzungsvertrag zustande.<br />
	b) Es besteht kein Anspruch auf Nutzung des Angebots.<br />
	c) Es gilt das uneingeschr&auml;nkte Hausrecht des Betreibers.<br />
	d) Der Nutzer ist f&uuml;r den Schutz seines Nutzerkontos vor Missbrauch verantwortlich.</p>
	
	<h3>3. Pflichten des Nutzers</h3>
	<p>a) Der Nutzer verpflichtet sich, dass er keine Inhalte in das Angebot einpflegen wird, die gegen diese Regeln oder gegen geltendes deutsches Recht versto&szlig;en. Insbesondere ist untersagt,
	<ul>
		<li>beleidigende, rassistische, diskriminierende oder pornographische Inhalte zu ver&ouml;ffentlichen;</li>
		<li>kommerzielle Werbung zu ver&ouml;ffentlichen;</li>
		<li>unberechtigt gesetzlich gesch&uuml;tzte Inhalte zu verwenden.</li>
	</ul>
	b) Der Nutzer verpflichtet sich, alle von ihm in das Angebot eingepflegten Inhalte mit ihrer Ver&ouml;ffentlichung unter die Lizenz CC BY-SA zu stellen.</p>
	
	<h3>3. Haftungsbeschr&auml;nkung</h3>
	<p>Der Anbieter &uuml;bernimmt keine Gew&auml;hr f&uuml;r die von Nutzern eingepflegten Inhalte.</p>
	
	<h3>4. &Auml;nderung oder Einstellung des Angebots</h3>
	<p>Der Anbieter ist berechtigt, das Angebot fristlos zu &auml;ndern oder zu beenden.</p>
	
	<h3>5. Beendigung des Vertrags</h3>
	<p>a) Dieser Vertrag wird auf unbestimmte Zeit geschlossen.<br />
	b) Beide Parteien k&ouml;nnen diese Vereinbarung fristlos k&uuml;ndigen.<br />
	c) Der Anbieter ist nach Beendigung des Nutzungsvertrags berechtigt, den Zugang des Nutzers zu sperren.<br /> 
	d) Ein Anspruch auf &Uuml;berlassung erstellter Inhalte wird ausgeschlossen.</p>
{/block}