{extends file='../legacy.htm'}

{block name=title}{if $obj->name}Seite &raquo;{$obj->name|escape:htmlall}&laquo; l&ouml;schen{else}Zugriff nicht gestattet{/if}{/block}
{block name=path}
{assign var=pathdata value=$obj}
{while $pathdata}
{append var=path value=$pathdata->name index=join('/', array('encyclopedia/view', $pathdata))}
{assign var=pathdata value=$pathdata->encyclopedia}
{/while}
{append var=path value='Kompendium' index='encyclopedia'}
{/block}
{block name=content}
<h3>Sicher?</h3>
<p>Bist Du Dir sicher, dass Du diesen Eintrag l&ouml;schen m&ouml;chtest?</p>
<form name="deleteencyclopedia" action="{$config->url}/encyclopedia/delete/{$obj}" method="post">
<input type="hidden" name="delete" value="1" />
<p><input type="submit" value="Eintrag l&ouml;schen" name="submit" /></p>
</form>
{/block}