<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{$config->title}: Weiterleitung</title>
<meta http-equiv="language" content="deutsch, de" />
<meta name="keywords" content="Drachenstein, Kaiserreich, Mikronation, Virtuelle Nation, Forenrollenspiel, Forumrollenspiel, Rollenspiel, Browserspiel, Browser-Rollenspiel, Mittelalter, Fantasy, Drache, kostenlos, Kaiser, Veuxin, Hobbit, Vampir" />
<meta name="Description" content="Das Kaiserreich Drachenstein ist eine sogenannte Micronation, ein Browser-basiertes Rollenspiel, in dem ein virtueller mittelalterlicher Fantasy-Staat simuliert wird. " />
<meta name="Author" content="Fabian Müller" />
<meta name="copyright" content="Fabian Müller" />
<meta name="page-topic" content="Unterhaltung" />
<meta name="revisit-after" content="14 days" />
<meta http-equiv="imagetoolbar" content="false" />
<meta http-equiv="refresh" content="5;URL={$config->url}/{block name=url}board{/block}">
<link rel="stylesheet" type="text/css" href="templates/standard/_css/main.css" />
<link rel="alternate" type="application/rss+xml" title="$master_board_name RSS-Feed" href="rss.php" />
<script type="text/javascript" src="templates/standard/_js/jquery.min.js"></script>
<script type="text/javascript" src="templates/standard/_js/ajax.js"></script>
</head>
<body>
	<div class="bg"></div>
	<div class="schattenlinks"></div>
	<div class="schattenrechts"></div>
	<div class="blendout"></div>
	<div class="borduere"></div>
	<h1>Kaiserreich Drachenstein</h1>
<p>{block name=content}Sie werden weitergeleitet.{/block}</p>
<p><a href="{$config->url}/{block name=url}board{/block}">Falls die automatische Weiterleitung nicht funktioniert, bitte hier klicken!</a></p>
</body>
</html>