@charset "utf-8";
@import url('_.css');
@import url('_inventory.css');

#user_avatar {
	float: left;
	margin-right: 15px;
}

div.edit-avatarselect {
	position: relative;
}

div.edit-avatarselect input[type="radio"] {
	position: fixed;
	top: -9999px;
	left: -9999px;
}

div.edit-avatarselect label {
	width: 30px;
	height: 30px;
	padding-right: 5px;
	opacity: 0.5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   cursor: pointer;
}

div.edit-avatarselect label:hover {
	opacity: 1;
}

div.edit-avatarselect ul {
	list-style-type: none;
	padding: 0;
	padding-left: 65px;
	margin: 0;
	overflow: hidden;
	min-height: 65px;
}

div.edit-avatarselect li {
	display: inline-block;
	float: left;
	height: 35px;
}

div.edit-avatarselect input[type="radio"]:checked ~ label {
	opacity: 1.0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 60px;
	cursor: auto;
}

div.edit-avatarselect label img {
	width: 30px;
	height: 30px;
}

div.edit-avatarselect input[type="radio"]:checked ~ label img {
	width: 60px;
	height: 60px;
}