@charset "utf-8";

main .option {
	height: 15px;
	width: 15px;
	display: inline-block;
	overflow: hidden;
	background-color: #bcddbc;
	text-indent: 9999px;
	mask: url('img/icons/edit.svg') center / contain no-repeat;
	transition: background-color .5s;
}

main .option:hover {
	background-color: #36731b;
}

main .option.edit {
	mask-image: url('img/icons/edit.svg');
}

main .option.quote {
	mask-image: url('img/icons/quote.svg');
}

main .option.report {
	mask-image: url('img/icons/report.svg');
}

main .option.ip {
	mask-image: url('img/icons/view_ip.svg');
}

main .option.create {
	mask-image: url('img/icons/create.svg');
}

main .option.delete {
	mask-image: url('img/icons/delete.svg');
}

main .option.delete:hover {
	background-color: #d40000;
}

main .option.subscribe,
main .option.unsubscribe {
	mask-image: url('img/icons/subscribe.svg');
}

main .option.unsubscribe {
	background-color: #36731b;
}

main .option.unsubscribe:hover {
	background-color: #bcddbc;
}

main .option.scene-begin {
	mask-image: url('img/icons/scene_begin.svg');
}

main .option.scene-end {
	mask-image: url('img/icons/scene_end.svg');
}

main .option.new {
	background-color: #ff6600;
	mask-image: url('img/icons/new.svg');
}