@charset "utf-8";

div#threads ol {
	list-style-type: none;
	padding:0px;
	margin:0px;
}

div#threads ol > li {
	width: 100%;
	clear: both;
	column-count: 2;
	-moz-column-count: 2;
	-o-column-count: 2;
	-webkit-column-count: 2;
}

div#threads ol > li + li {
	margin-top: 5px;
	border-top: 1px solid #aaa;
}

div#threads ol h4 {
	margin: 0px;
	padding: 0px;
}

div#threads ol p + p {
	text-align: right;
}

div#threads ol p {
	clear: none;
	padding-top: 0px;
}