@charset "utf-8";
@import url('_.css');
@import url('_options.css');
@import url('_thread.css');

div#boards ol {
	list-style-type: none;
	padding:0px;
	margin:0px;
}

div#boards li, div#boards p {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

div#boards > ol li {
	width: 100%;
	margin-top: 5px;
	border-top: 1px solid #aaa;
}

div#boards ol h4 {
	margin: 0px;
	padding: 0px;
}

div#boards ol p.small span {
	float: right;
	text-align: right;
	display: inline-block;
	margin-right: 35px;
	margin-left: 15px;
	white-space:nowrap;
}

div#boards > ol > li ol {
	padding-left: 60px;
}

div#boards ol h4 {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

div#boards ol .small span img {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: -35px;
}

div#boards ol p {
	clear: none;
	padding-top: 0px;
}