{extends file='../_.htm'}

{block name=title}Thema &raquo;{$obj->name|escape:'htmlall'}&laquo; bearbeiten{/block}
{block name=path}
{assign var=path value=[join('/', array('thread/view', $obj)) => $obj->name]}
{assign var=pathdata value=$obj->board}
{while $pathdata}
{append var=path value=$pathdata->name index=join('/', array('board/view', $pathdata))}
{assign var=pathdata value=$pathdata->board}
{/while}
{append var=path value='Forum' index='board'}
{/block}
{block name=css}thread{/block}
{block name=content}
{include file='../_function/textinput.htm'}
{function bit_board level=0}
{foreach $data as $board}
		<option value="{$board}"{if $board->cat > 0 || $permission->getPermission($board, 'createthread') == 0} disabled="disabled"{/if}{if $board->id == $obj->board->id} selected="selected"{/if}>{for $foo=1 to $level}&mdash;{forelse}{/for}{$board->name}</option>
{if $board->board__1}{bit_board data=$board->board__1 level=($level+1)}{/if}
{/foreach}
{/function}
<form name="editthread" action="{$config->url}/thread/edit/{$obj}" method="post">
{call textinput formname='editthread' inputname='name' displayname='Name' autofocus=true value=$obj->name}
<label for="important">Wichtig: </label><input type="checkbox" name="important" id="important" value="1" {if $thread['important'] == 1}checked="checked"{/if} />
<p><label for="board">Forum: </label><select name="board" id="board">
	{bit_board data=$boards->data}
</select></p>
<input type="submit" value="Thema bearbeiten" />
</form>
{/block}