<p>Sali Vuz*,</p>
<p>Du hast also Dein Passwort im {$config->title} vergessen? Das ist kein Problem!<br />
Besuche einfach folgenden Link, um ein neues Passwort zu bestimmen:</p>
<p><a href="{$config->url}/log/newpw/{$logemail}/{$logkey}">{$config->niceurl}/log/newpw/{$logemail}/{$logkey}</a></p>
<p>Solltest Du diese eMail nicht beantragt haben, bitten wir Dich, sie einfach zu ignorieren.</p>
<p>Mit besten Gr&uuml;&szlig;en,</p> 
<p>die Administration // <a href="{$config->url}">{$config->niceurl}</a></p>
<p>* Drakisch: Guten Tag.</p>