{extends file='../_.htm'}
{block name=title}Neues Passwort setzen{/block}
{block name=content}
{include file='../_function/textinput.htm'}
	<p>Bitte trage nun Dein neues Passwort ein.</p>
	<form action="{$config->url}/log/newpw/{$logemail}/{$logkey}" method="post">
		{call textinput formname='register' inputname='password' displayname='Passwort' type='password' autofocus=true}
		{call textinput formname='register' inputname='passwordcheck' displayname='Passwort wiederholen' type='password'}
		<input type="submit" value="Link anfordern" name="submit" />
	</form>
{/block}