{extends file='../_.htm'}

{block name=title}Verkn&uuml;pfung zwischen &raquo;{$obj->dictionary__from->word|escape:htmlall}&laquo; und &raquo;{$obj->dictionary__to->word|escape:htmlall}&laquo; l&ouml;schen{/block}
{block name=path} &rarr; <a href="{$config->url}/dictionary">Diktionar</a> &rarr; <a href="{$config->url}/dictionary/view/{$obj->dictionary__from}">{$obj->dictionary__from->word|escape:htmlall}</a>{/block}
{block name=content}
<h3>Sicher?</h3>
<p>Bist Du Dir sicher, dass Du diese Verkn&uuml;pfung l&ouml;schen m&ouml;chtest?</p>
<form name="deletekey" action="{$config->url}/dictionary/deletekey/{$obj}" method="post">
<input type="hidden" name="delete" value="1" />
<p><input type="submit" value="Eintrag l&ouml;schen" name="submit" /></p>
</form>
{/block}