{extends file='../legacy.htm'}

{block name=title}Sali Vuz!{/block}
{block name=css}index{/block}
{block name=content}
{include file='../_function/datetime.htm'}
<p class="initial">Herzlich Willkommen in Drachenstein! Vielleicht fragt Ihr Euch nun, wo Ihr hier gelandet seid, doch das ist schnell erkl&auml;rt: Drachenstein ist eine sogenannte Mikronation, ein virtueller Staat im Internet, und gleichzeitig ein Browserrollenspiel. Wir simulieren ein Kaiserreich in einer Fantasiewelt, seine Politik, seine Wirtschaft, und natürlich auch sein allt&auml;gliches Leben. M&ouml;chtet Ihr mitmachen? Nichts leichter als das! Registriert Euch, denkt Euch einen Charakter aus, und stellt im Forum einen Antrag auf Staatsb&uuml;rgerschaft. Wir freuen uns auf Euch!</p>
<div id="index-tiles">
	<div id="index-stats"><a href="{$config->url}/board/filter/date_last:1d"><em>{$obj->postcount24h}</em> Beitr&auml;ge in den letzten 24 Stunden;</a> <a href="{$config->url}/board/filter/date_last:7d"><em>{$obj->postcount7d}</em> Beitr&auml;ge in den letzten sieben Tagen.</a></div>
	<div id="index-news">
		<img src="{$config->url}/img/static/eksnor.png" />
		<p>{call datetime value=$obj->news->time}</p>
		<p>{$obj->news->message|escape:htmlall}</p>
	</div>
	<div id="index-word">
		<a href="{$config->url}/dictionary/view/{$obj->word}">{$obj->word->word}</a>
		{if $obj->word->dictionarykey___from}{foreach $obj->word->dictionarykey___from as $item}<p>{$item->dictionary__to->word|escape:htmlall},&nbsp;<em class="small">{$item->dictionary__to->wordtype->code}.</em></p> 
		{/foreach}{else}&mdash;&mdash;{/if}
	</div>
</div>
{/block}