/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .chapter a	{
	background-image:url(images/chapter.png);
}
.markItUp .paragraph a	{
	background-image:url(images/paragraph.png);
}
.markItUp .article a	{
	background-image:url(images/article.png);
}

.markItUp .list a	{
	background-image:url(images/list.png);
}
.markItUp .list-item a	{
	background-image:url(images/list-item.png);
}

.markItUp .comment a	{
	background-image:url(images/comment.png);
}
.markItUp .marking a	{
	background-image:url(images/marking.png);
}
.markItUp .text a	{
	background-image:url(images/text.png);
}
	
.markItUp .clean a {
	background-image:url(images/clean.png);
}