{extends file='../_.htm'}
{block name=title}Registrieren{/block}
{block name=content}
{include file='../_function/textinput.htm'}
	<h3>Zweiter Schritt</h3>
	<p>Deine eMail-Adresse <em>{$registeremail}</em> wurde best&auml;tigt! W&auml;hle nun einen Nutzernamen und ein Passwort.</p>
	<form name="register" action="{$config->url}/register/registration/{$registeremail}/{$registerkey}" method="post">
		{textinput formname='register' inputname='name' displayname='Nutzername' value=$registername maxlength=85 autofocus=true}
		{textinput formname='register' inputname='password' displayname='Passwort' type='password'}
		{textinput formname='register' inputname='passwordcheck' displayname='Passwort wiederholen' type='password'}
		<p><input type="checkbox" name="termsofservice" id="termsofservice" value="1" /><label for="termsofservice"> Ich erkl&auml;re mich mit den <a href="{$config->url}/static/terms">Nutzungsbedingungen</a> einverstanden.</label></p>
		<p><input type="submit" value="Registrierung abschlie&szlig;en" name="submit" /></p>
	</form>
{/block}