Sali Vuz*,

wir freuen uns, dass Du Dich entschieden hast, Dich im {$config->title} zu registrieren! 

Um die Registrierung zu beginnen, ist es zuerst notwendig, Deine eMail-Adresse zu bestätigen. Hierzu bitten wir Dich, folgenden Link zu besuchen:

<a href="{$config->url}/register/registration/{$registeremail}/{$registerkey}">{$config->niceurl}/register/registration/{$registeremail}/{$registerkey}</a>

Der Link ist {$config->emailvalidfor / 3600} Stunden gültig. Aber keine Sorge; sollte er verfallen, kannst Du jederzeit einen neuen beantragen.

Solltest Du diese eMail nicht beantragt haben, bitten wir Dich, sie einfach zu ignorieren &ndash; es sei denn, Du hast nun Blut geleckt und willst Dich dennoch im {$config->title} registrieren.

Mit besten Grüßen, 

die Administration // <a href="{$config->url}">{$config->niceurl}</a>

* Drakisch: Guten Tag.