{extends file='../_.htm'}

{block name=title}Suchergebnisse{/block}
{block name=content}
{include file='../_function/datetime.htm'}
{if $obj->user->data}
{include file='../_function/bit_user.htm'}
<h3>Mitglieder</h3>
<ol>
{foreach $obj->user->data as $value}
{bit_user config=$config value=$value}
{/foreach}
</ol>
{/if}
{if $obj->board->data}
<h3>Foren</h3>
{foreach $obj->board->data as $value}
<p><a href="{$config->url}/board/view/{$value}">{$value->name}</a></p>
{/foreach}
{/if}
<h3>Themen</h3>
{foreach $obj->thread->data as $value}
<p><a href="{$config->url}/thread/view/{$value}">{$value->name}</a></p>
{foreachelse}
Keine Ergebnisse!
{/foreach}
<h3>Beitr&auml;ge</h3>
{foreach $obj->post->data as $value}
{if $value@iteration > (($page - 1) * $configuration->getConfiguration(NULL, 'pageentries')) && $value@iteration <= (($page) * $configuration->getConfiguration(NULL, 'pageentries'))}
<p>Thema: <a href="{$config->url}/thread/view/{$value->thread}">{$value->thread->name}</a></p>
	<div class="post {if isset($prev_user) and $value->user == $prev_user}followpost{/if}">
		{if (!isset($prev_user) or $value->user != $prev_user) and $value->user->avatar}<img src="{$config->url}/img/user_avatar.id/thumb/{$value->user}.jpg" />{/if}
		<div>
			<h4>{if !isset($prev_user) or $value->user != $prev_user}<a href="{$config->url}/user/view/{$value->user}">{$value->user->name|escape:'htmlall'}</a>; {/if}{datetime value=$value->time objvalue=NULL}</h4>
			<p><a class="postnumber" href="{$config->url}/thread/view/{$value->thread}{if $page > 1}/{$page}{/if}#post{$value}" id="post{$value}">{$smarty.foreach.posts.iteration}</a> <a class="option quote" title="zitieren" href="#">zitieren</a> {if $permission->getPermission($value, 'editpost') == 2 || ($permission->getPermission($value, 'editpost') == 1 && $user->id == $value->user->id)}<a class="option edit" title="editieren" href="{$config->url}/post/edit/{$value}">editieren</a> {/if}{if $permission->getPermission($value, 'deletepost') == 2 || ($permission->getPermission($value, 'deletepost') == 1 && $user->id == $value->user->id)}<a class="option delete" title="l&ouml;schen" href="{$config->url}/post/delete/{$value}">l&ouml;schen</a> {/if}<a class="option report" title="melden" href="#">melden</a>{if $permission->getPermission($value, 'viewip') > 0} <a class="option ip" title="IP" href="#">IP</a>{/if}</p>
		</div>
		<p class="postcontent">{$value->message|escape:'htmlall'|nl2br|bbcode:$bbcodes|emoticon:$emoticons}</p>
	</div>
{elseif $value@iteration > (($page) * $configuration->getConfiguration(NULL, 'pageentries'))}{break}{/if}
{foreachelse}
Keine Ergebnisse!
{/foreach}
{/block}