{extends file='../_.htm'}
{block name=title}Neues Wort erstellen{/block}
{block name=path} &rarr; <a href="{$config->url}/dictionary">Diktionar</a>{/block}
{block name=content}
{include file='../_function/textinput.htm'}
<form name="createdictionary" action="{$config->url}/dictionary/create" method="post">
<p><label for="language">Sprache: </label><select name="language">
{foreach $languages->data as $i}	<option label="{$i->name} ({$i->code})" value="{$i}">{$i->name} ({$i->code})</option>{/foreach}
</select></p>
<p><label for="wordtype">Wortart: </label><select name="wordtype">
{foreach $wordtypes->data as $i}	<option label="{$i->name} ({$i->code})" value="{$i}">{$i->name} ({$i->code})</option>{/foreach}
</select></p>
{textinput formname='createdictionary' inputname='word' displayname='Wort' required=false}
<h3>Erweiterter Modus: </h3>
<p><label for="language">Von: </label><select name="advanced-language-from">
{foreach $languages->data as $i}	<option label="{$i->name} ({$i->code})" value="{$i}">{$i->name} ({$i->code})</option>{/foreach}
</select><br />
<label for="language">Nach: </label><select name="advanced-language-to">
{foreach $languages->data as $i}	<option label="{$i->name} ({$i->code})" value="{$i}">{$i->name} ({$i->code})</option>{/foreach}
</select><br />
<textarea name="advanced"></textarea>
</p>
<p><input type="submit" value="Neues Wort erstellen" name="submit" /></p>
</form>
{/block}