{extends file='../_.htm'}
{block name=title}Registrieren{/block}
{block name=content}
{include file='../_function/textinput.htm'}
	<h3>Erster Schritt</h3>
	<p>Die Registrierung im {$config->title} verl&auml;uft in zwei Schritten: 
		<ol>
			<li>Zuerst wird &uuml;berpr&uuml;ft, ob Deine eMail-Adresse korrekt ist. Ohne korrekte eMail-Adresse w&auml;ren wichtige Funktionen des Forums wie administrative Benachrichtigungen oder Hilfe bei einem vergessenen Passwort nicht m&ouml;glich.</li>
			<li>Anschlie&szlig;end kannst Du Deinen gew&uuml;nschten Nutzernamen und Dein Passwort w&auml;hlen.</li>
		</ol>
		Fangen wir also mit Deiner eMail-Adresse an!
	</p>
	<form name="register" action="{$config->url}/register/validate" method="post">
		{call textinput formname='register' inputname='email' displayname='eMail' maxlength=85 placeholder="email@domain.de" autofocus=true}
			<input type="submit" value="Los!" name="submit" />
		</p>
	</form>
{/block}