<p>Sali Vuz*,</p>
<p>wir freuen uns, dass Du Dich entschieden hast, Dich im {$config->title} zu registrieren!</p>
<p>Um die Registrierung zu beginnen, ist es zuerst notwendig, Deine eMail-Adresse zu best&auml;tigen. Hierzu bitten wir Dich, folgenden Link zu besuchen:</p>
<p><a href="{$config->url}/register/registration/{$registeremail}/{$registerkey}">{$config->niceurl}/register/registration/{$registeremail}/{$registerkey}</a></p>
<p>Der Link ist {$config->emailvalidfor / 3600} Stunden g&uuml;ltig. Aber keine Sorge; sollte er verfallen, kannst Du jederzeit einen neuen beantragen.</p>
<p>Solltest Du diese eMail nicht beantragt haben, bitten wir Dich, sie einfach zu ignorieren &ndash; es sei denn, Du hast nun Blut geleckt und willst Dich dennoch im {$config->title} registrieren.</p>
<p>Mit besten Gr&uuml;&szlig;en,</p> 
<p>die Administration // <a href="{$config->url}">{$config->niceurl}</a></p>
<p>* Drakisch: Guten Tag.</p>