{function datetime objvalue=$obj}
{if $value >= mktime(0, 0, 0)}<strong>heute,</strong> {$value|date_format:$configuration->getConfiguration($objvalue, 'time')}
{elseif $value >= (mktime(0, 0, 0) - 86400)}<strong>gestern,</strong> {$value|date_format:$configuration->getConfiguration($objvalue, 'time')}
{elseif $value >= (mktime(0, 0, 0) - 604800)}<strong>{if $value|date_format:"%w" == 1}Montag{elseif $value|date_format:"%w" == 2}Dienstag{elseif $value|date_format:"%w" == 3}Mittwoch{elseif $value|date_format:"%w" == 4}Donnerstag{elseif $value|date_format:"%w" == 5}Freitag{elseif $value|date_format:"%w" == 6}Samstag{elseif $value|date_format:"%w" == 0}Sonntag{/if},</strong> {$value|date_format:$configuration->getConfiguration($objvalue, 'time')}
{else}{$value|date_format:$configuration->getConfiguration($objvalue, 'date')}, {$value|date_format:$configuration->getConfiguration($objvalue, 'time')}{/if}
{/function}