{extends file='../legacy.htm'}

{block name=title}{$obj->name}{/block}
{block name=css}user_id{/block}
{block name=path}
{append var=path value='Mitglieder' index='user'}
{/block}
{block name=js}
<script type="text/javascript">
$(document).ready(function() {
	if ($("div#content ol#user_characters li").length > 7) {
		$("div#content ol#user_characters li").slice(6).hide();
		$("div#content ol#user_characters").append("<li id=\"morecharacters\" class=\"fa-chevron-down\"></li>");
		$("#morecharacters").click(function() {
			$("div#content ol#user_characters li").slice(6).slideDown();
			$("#morecharacters").remove();
		});
	}
});
</script>
{/block}
{block name=content}
{include file='../_function/datetime.htm'}
<img src="{$config->url}/img/character_avatar.id/{if $obj->character__avatar}{$obj->character__avatar}{elseif ctype_alpha($obj->name[0])}i/{$obj->name[0]|lower}{else}i/_{/if}.jpg" />
{if $obj->usertext}<p id="usertext" {if $obj->usertext|count_characters > 80}class="usertext_long"{/if}>{$obj->usertext|escape:'htmlall'|nl2br}</p>{/if}
<ol class="columns">
	<li><h4>Aktivit&auml;t</h4>
		<ol>
			<li><em>Mitglied seit:</em> {call datetime value=$obj->regdate}</li>
{nocache}			<li><em>Letzter Besuch:</em> {call datetime value=$obj->lastvisit}</li>
			<li><em>Beitr&auml;ge insgesamt:</em> <a href="{$config->url}/board/filter/user_contains:{$obj}">{$obj->post__total|number_format:0:",":"."}</a></li>
			<li><em>Beitr&auml;ge pro Tag:</em> {($obj->post__total / (($smarty.now - $obj->regdate) / 86400))|number_format:2:",":"."}</li>{/nocache}
		</ol>
	</li>
{if $obj->group}
	<li><h4>Gruppen</h4>
		<ol>
{foreach $obj->group as $group}
			<li><a href="{$config->url}/group/view/{$group}">{$group->name}</a></li>
{/foreach}
		</ol>
	</li>
{/if}
	<li><h4>Charaktere</h4>
	{if $obj->character}
		<ol id="user_characters">
{foreach $obj->character as $char}
		<li>
			<p class="small"><a href="{$config->url}/user/character/{$char}"><img src="{$config->url}/img/character_avatar.id/thumb/{if $char->avatar}{$char}{elseif ctype_alpha($char->name[0])}i/{$char->name[0]|lower}{else}i/_{/if}.jpg" />{$char->name|escape:'htmlall'}</a></p>
			<p class="small"><a href="{$config->url}/board/filter/char_contains:{$char}">{$char->post__total|number_format:0:",":"."} Beitr&auml;ge</a> seit {call datetime value=$char->regdate onlydate=1}</p>
		</li>
{/foreach}
{nocache}{if ($permission->getPermission($obj, 'createcharacter') == 2 || ($permission->getPermission($obj, 'createcharacter') == 1 && $user->id == $obj->id))}
		<li id="createchar">
<form name="createcharacter" action="{$config->url}/user/createcharacter/{$obj}" method="post">
<p class="small"><img src="{$config->url}/templates/standard/_img/newchar.png" /><input type="text" name="name" maxlength=85 placeholder="Neuer Charakter" required><input type="submit" value="erstellen" name="submit" /></p>
<p class="small">&nbsp;</p>
</form>
		</li>{/if}{/nocache}
		</ol>
		{/if}
	</li>
	<li><h4>Informationen{nocache}{if ($permission->getPermission($obj, 'edituser') == 2 || ($permission->getPermission($obj, 'edituser') == 1 && $user->id == $obj->id))} <a href="{$config->url}/user/edit/{$obj}" class="option edit" title="editieren">editieren</a>{/if}{/nocache}</h4>
		<ol>
		{if $obj->gender > 0}
			<li><em>Geschlecht:</em> {if $obj->gender == 1}m&auml;nnlich{elseif $obj->gender == 2}weiblich{else}anderes{/if}</li>
		{/if}
		{if $obj->birthday > 0}
			<li><em>Geburtstag:</em> {$obj->birthday}</li>
		{/if}
		{if $obj->location}
			<li><em>Herkunft:</em> {$obj->location|escape:'htmlall'}</li>
		{/if}
		{if $obj->interests}
			<li><em>Interessen:</em> {$obj->interests|escape:'htmlall'}</li>
		{/if}
		{if $obj->work}
			<li><em>Amt oder Beruf:</em> {$obj->work|escape:'htmlall'}</li>
		{/if}
		</ol>
	</li>
{nocache}{if $obj->user_contact || ($permission->getPermission($obj, 'edituser') == 2 || ($permission->getPermission($obj, 'edituser') == 1 && $user->id == $obj->id)) || isset($user)}
	<li><h4>Kontakt{if ($permission->getPermission($obj, 'edituser') == 2 || ($permission->getPermission($obj, 'edituser') == 1 && $user->id == $obj->id))} <a href="{$config->url}/user/createcontact/{$obj}" class="option create" title="neue Kontaktm&ouml;glichkeit hinzuf&uuml;gen">neue Kontaktm&ouml;glichkeit hinzuf&uuml;gen</a>{/if}</h4>
		{if $obj->user_contact || isset($user)}
		<ol>
			{if isset($user) && $obj->id != $user->id}<li><a href="{$config->url}/conversation/view/{$obj->id}">Private Konversation</a></li>{/if}
			{if $obj->user_contact}
				{foreach name=contacts item=value from=$obj->user_contact}
				<li><em>{$value->protocol->name}:</em> {if $value->protocol->link}<a href="{$value->protocol->link|replace:'\\1':$value->contact}">{$value->contact}</a>{else}{$value->contact}{/if}{if ($permission->getPermission($obj, 'edituser') == 2 || ($permission->getPermission($obj, 'edituser') == 1 && $user->id == $obj->id))} <a href="{$config->url}/user/editcontact/{$value->id}" class="option edit" title="Kontaktm&ouml;glichkeit bearbeiten">Kontaktm&ouml;glichkeit bearbeiten</a> <a href="{$config->url}/user/deletecontact/{$value->id}" class="option delete" title="Kontaktm&ouml;glichkeit l&ouml;schen">Kontaktm&ouml;glichkeit l&ouml;schen</a>{/if}</li>
			{/foreach}
			{/if}
		</ol>
		{/if}
	</li>
{/if}{/nocache}
</ol>
{/block}