{extends file='../_.htm'}

{block name=title}{if $obj->name}Rechte des Forums &raquo;{$obj->name|escape:'htmlall'}&laquo;{else}Zugriff nicht gestattet{/if}{/block}
{block name=css}thread{/block}
{block name=path}
{include file='../_function/breadcrumbs.htm'}
&raquo; <a href="{$config->url}/board">Forum</a>{if $obj->name and $obj->board != '0'}{breadcrumbs data=$obj url='board/view' parent='board'}{/if}{/block}
{block name=content}
{assign var=pathdata value=$obj}
{while $pathdata}
{append var=path value=$pathdata->name index=join('/', array('board/view', $pathdata))}
{assign var=pathdata value=$pathdata->board}
{/while}
{append var=path value='Forum' index='board'}
{if $obj->name}
{if $permission->getPermission($obj, 'createpermission') > 0}<a href="{$config->url}/permission/create/board/{$obj}" class="option create" title="neues Recht anlegen">Neues Recht anlegen</a>{/if}
<p>Du kannst das Forum {if $permission->getPermission($obj, 'show') == 0}nicht {/if}sehen.</p>
<p>Du kannst {if $permission->getPermission($obj, 'createboard') == 0}keine {/if}Unterforen erstellen.</p>
<p>Du kannst {if $permission->getPermission($obj, 'editboard') == 0}keine {/if}Unterforen bearbeiten.</p>
<p>Du kannst {if $permission->getPermission($obj, 'deleteboard') == 0}keine {/if}Unterforen l&ouml;schen.</p>

<p>Du kannst {if $permission->getPermission($obj, 'createthread') == 0}keine {/if}Themen erstellen.</p>
<p>Du kannst {if $permission->getPermission($obj, 'editthread') == 0}keine {/if}Themen bearbeiten.</p>
<p>Du kannst {if $permission->getPermission($obj, 'deletethread') == 0}keine {/if}Themen l&ouml;schen.</p>

<p>Du kannst {if $permission->getPermission($obj, 'createpost') == 0}keine {/if}Beitr&auml;ge erstellen.</p>
<p>Du kannst {if $permission->getPermission($obj, 'editpost') == 0}keine {/if}Beitr&auml;ge bearbeiten.</p>
<p>Du kannst {if $permission->getPermission($obj, 'deletepost') == 0}keine {/if}Beitr&auml;ge l&ouml;schen.</p>

{if $obj->permission___subject}
<h3>Spezifische Rechte</h3>
{foreach name=permissions item=value from=$obj->permission___subject}
<p>{$value->recipient->name}: {$value->permit->name} ({$value->value})</p>
{foreachelse}
{/foreach}
{/if}
{else}
<h3>Zugriff nicht gestattet!</h3>
<p>Leider ist Dir der Zugriff auf diese Rechte&uuml;bersicht nicht gestattet. Dir fehlen die daf&uuml;r erforderlichen Rechte. Wenn Du glaubst, dass es sich dabei um einen Fehler handelt, benachrichtige bitte den Administrator.</p>
{/if}
{/block}