{extends file='../_.htm'}

{block name=title}{if $obj->name}{$obj->name|escape:'htmlall'}{else}Zugriff nicht gestattet{/if}{/block}
{block name=path}
{assign var=pathdata value=$obj->board}
{while $pathdata}
{append var=path value=$pathdata->name index=join('/', array('board/view', $pathdata))}
{assign var=pathdata value=$pathdata->board}
{/while}
{append var=path value='Forum' index='board'}
{/block}
{block name=css}board_id{/block}
{block name=content}
{include file='../_function/bit_board.htm'}
{include file='../_function/bit_thread.htm'}
{include file='../_function/pagination.htm'}
{if $obj->name}<p>{if $obj->board__1}{$obj->board__1|@count} Unterforen{if !$obj->cat}, {/if}{/if}{if !$obj->cat}{$obj->thread__total} Themen, {$obj->post__total} Beitr&auml;ge.{/if}{if $permission->getPermission($obj, 'editboard') == 1} <a class="option edit" title="editieren" href="{$config->url}/board/edit/{$obj}">editieren</a> {/if}{if $permission->getPermission($obj, 'deleteboard') == 1}<a class="option delete" title="l&ouml;schen" href="{$config->url}/board/delete/{$obj}">l&ouml;schen</a> {/if}
{if $obj->board__1}
<h3>Unterforen</h3>
<div id="boards">
{bit_board data=$obj->board__1}
</div>
{/if}
{if $obj->thread}
<h3>Themen{if $permission->getPermission($obj, 'createthread') > 0} <a href="{$config->url}/thread/create/{$obj}" class="option create" title="neues Thema erstellen">neues Thema erstellen</a>{/if}</h3>
<div id="threads">
{pagination link="/board/view/$obj" total=ceil((int)count($obj->thread) / $configuration->getConfiguration($obj, 'pageentries')) cur=$page}
{bit_thread data=$obj->thread page=$page entries=$configuration->getConfiguration($obj, 'pageentries')}
{pagination link="/board/view/$obj" total=ceil((int)count($obj->thread) / $configuration->getConfiguration($obj, 'pageentries')) cur=$page}
</div>
{/if}
{else}
<h3>Zugriff nicht gestattet!</h3>
<p>Leider ist Dir der Zugriff auf dieses Forum nicht gestattet. Dir fehlen die daf&uuml;r erforderlichen Rechte. Wenn Du glaubst, dass es sich dabei um einen Fehler handelt, benachrichtige bitte den Administrator.</p>
{/if}
{/block}