{extends file='../_.htm'}

{block name=title}&raquo;{$obj->name|escape:'htmlall'}&laquo; bearbeiten{/block}
{block name=alttitle}Nutzer bearbeiten{/block}
{block name=css}user_edit{/block}
{block name=path}
{append var=path value=$obj->name index=join('/', array('user/view', $obj))}
{append var=path value='Mitglieder' index='user'}
{/block}
{block name=content}
{include file='../_function/textinput.htm'}
<form name="edituser" action="{$config->url}/user/edit/{$obj}" method="post" enctype="multipart/form-data">
<h3>Avatar</h3>
<p>Avatar des folgenden Charakters als Nutzeravatar benutzen</p>
<div class="edit-avatarselect">
<ul>
{foreach $obj->character as $char}
<li>
<input name="character__avatar" value="{$char}" id="character__avatar-{$char}" type="radio"{if $char->id == $obj->character__avatar->id} checked="checked"{/if}/>
<label for="character__avatar-{$char}"><img src="{$config->url}/img/character_avatar.id/thumb/{if $char->avatar}{$char}{else}0{/if}.jpg" title="{$char->name|escape:'htmlall'}" /></label>
</li>
{/foreach}
</ul>
</div>

<h3>Informationen</h3>
<p><textarea name="usertext">{if $obj->usertext}{$obj->usertext|escape:'htmlall'}{/if}</textarea></p>
<p><label for="gender">Geschlecht: </label><select name="gender" id="gender">
	<option label="keine Angabe" value="0"{if $obj->gender == 0} selected="selected"{/if}>keine Angabe</option>
	<option label="m&auml;nnlich" value="1"{if $obj->gender == 1} selected="selected"{/if}>m&auml;nnlich</option>
	<option label="weiblich" value="2"{if $obj->gender == 2} selected="selected"{/if}>weiblich</option>
	<option label="anderes" value="3"{if $obj->gender == 3} selected="selected"{/if}>anderes</option>
</select></p>
{call textinput formname='edituser' inputname='birthday' displayname='Geburtsjahr' value=$obj->birthday}
{call textinput formname='edituser' inputname='location' displayname='Herkunft' value=$obj->location}
{call textinput formname='edituser' inputname='interests' displayname='Interessen' value=$obj->interests}
{call textinput formname='edituser' inputname='work' displayname='Amt oder Beruf' value=$obj->work}
<input type="hidden" name="edit" value="1" />
<input type="submit" value="&Auml;ndern" />
</form>
<h3>Nutzerkonto</h3>
	<em>Beitr&auml;ge:</em> {$obj->post__total}<br />
	<em>Mitglied seit:</em> {$obj->regdate|date_format:$config->datetime}<br />

{if $obj->inventory___owner}
<h3>Besitz</h3>
<ol class="inventory">
{foreach name=inventories item=value from=$obj->inventory___owner}
	<li><img src="{$config->url}/img/item.img/{$value->item->img}.png" /> {$value->item->name|escape:'htmlall'}: {$value->stack}, {$value->wear}</li>
{/foreach}
</ol>
{/if}
{if $obj->company}
<h3>Betriebe</h3>
<ol>
{foreach name=companies item=value from=$obj->company}
	<li>{$value->name|escape:'htmlall'}: {$value->description|escape:'htmlall'}</li>
{/foreach}
</ol>
{/if}
{/block}